= react_component("WeekAppointments",  |
  { currentUser: current_user,         |
  statistic: @statistic,               |
  appointments: @appointments_as_json, |
  employees: @employees })             |
